<h1>Todo-list</h1>

{{input type="text" placeholder="What do you want to do?" enter="addTodo" value=content}} (Enter to add)
<ul style="padding-left: 0px;">
  {{#each model as |todo|}}
    <li style="list-style-type: none;" {{action "onTodoChange" todo on="change"}}>
      {{input type="checkbox" name=todo.content checked=todo.checked}} {{todo.content}}
    </li>
  {{/each}}
</ul>
<button {{action "addTodo"}}>Click me Now!!!</button>
<button {{action "getTodo"}}>Click me Again!!!</button>
